.boxzero{
    padding: 0 100px;
    padding-top: 20px;
    
}
select option{
    text-align: center;
}
.btdd{
    margin-left: 10px;
 
}
.Serviceallbt{
    text-align: center;
    margin-top: 20px;
    
}
.Serviceallbt button{
   padding: 10px 30px;
    
}